@media (max-width: 768px) {
    .card-img-resize{
        height:40vw;
        object-fit:cover;
    }
}


@media (min-width: 768px) {
    .card-img-resize{
        height:32vw;
        object-fit:cover;
    }
}


@media (min-width: 992px) {
    .card-img-resize{
        height:24vw;
        object-fit:cover;
    }
}


@media (min-width: 1200px) {
    .card-img-resize{
        height:16vw;
        object-fit:cover;
    }
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.d-none {
    display:none;
}

.modal-img {
    border:solid;
    border:0;
    outline-color:black;
    outline:solid;
    outline-width:3px;
    border-color:white;
    border-radius:30px;
}

