@media (min-width: 400px) {
    .img-size{
        height:40vw;
        object-fit:cover;
    }
}


@media (min-width: 768px) {
    .img-size{
        height:32vw;
        object-fit:cover;
    }
}


@media (min-width: 992px) {
    .img-size{
        height:24vw;
        object-fit:cover;
    }
}


@media (min-width: 1200px) {
    .img-size{
        height:16vw;
        object-fit:cover;
    }
}