@media (max-width: 768px) {
    .card-img-resize{
        height:40vw;
        object-fit:cover;
    }
}


@media (min-width: 768px) {
    .card-img-resize{
        height:32vw;
        object-fit:cover;
    }
}


@media (min-width: 992px) {
    .card-img-resize{
        height:24vw;
        object-fit:cover;
    }
}


@media (min-width: 1200px) {
    .card-img-resize{
        height:16vw;
        object-fit:cover;
    }
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.d-none {
    display:none;
}

.font-style {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
}   

.btn, .btn:hover, .btn:active {
    background-color:brown;
    border-color:brown;
}

.img-format {
    border-radius: 5px 5px 0 0; 
}

.modal-9-format {
    margin-bottom:10px;
}

.ingredients-format {
    padding:0;
    margin-left:-8px;
}